extends extends/layout

block content

  .top
    video(playsinline,autoplay,muted,loop,poster="/images/poster.jpg")
      source(src="/vid/barrel.mp4",type="video/mp4")

    .clear

    .logo

    .burger.on
      .lines
        span
        span
        span
        span
      .clear
      
    .menu.off
      .inner
        a.item(data-item='beers') draft list
        .itemdot
        a.item(data-item='news') news 
        .itemdot
        a.item(data-item='info') taproom
        .itemdot
        a.item(data-item='about') about

    .centered
      .soon.basal-entry(basal-structure='copy',basal-name='top-one',basal-entity='copy1') ...
      .doors.basal-entry(basal-structure='copy',basal-name='top-two',basal-entity='copy1') ...
      a.cta.basal-entry(data-item='beers',basal-structure='copy',basal-name='top-button',basal-entity='copy1') ...

  .infobar
    .inner
      a.item(data-item='beers') draft list
      .dot
      a.item.second(data-item='news') news 
      .anvil(data-item='top')
      a.item.third(data-item='info') taproom
      .dot
      a.item(data-item='about') about
      include partial/socials

  .beers
    .title draft list
    //.description Gilman IPA, Berkeley Pilsner, Ashby Shout and Telegraph Wehat make up our core beers.  In addition, we brew one-offs, seasonals and collaborations throughout the year.

    .clear

    .beerlist
      .inner.basal-loop(basal-structure='Draft List')
        .beer
          .inner
            .beer_image: img(basal-name='Beer Image',basal-type='image')
            .beer_name(basal-name='structure-name')
            .beer_info(basal-name='ABV / IBUS')
            .beer_description(basal-name='Description')

  .eventsmerch
    .inner
      .events
        .title news
        .clear
        .eventlist.basal-loop(basal-structure='Event')
          .event
            .date
              .month(basal-name='date',basal-type='date',basal-dateformat="MMM")
              .day(basal-name='date',basal-type='date',basal-dateformat="Do")
            .image(basal-name='image',basal-type='css-background')
            .title(basal-name='structure-name')
            .description(basal-name='description')
            a.link(basal-names='link-text,link',basal-types='text,href',target='_new')
            .clear
          .clear

      .growlers
        .title growlers
        .clear
        .image
      .clear
 
  .info
    .right.loading
      .inner
        .title the taproom
        include partial/lochours
        
        .copy Call: 
          a(href='tel:'+config.meta.address.phone)=config.meta.address.phone
          .dot
          | Email: 
          a(href='tel:'+config.meta.email)=config.meta.email

    .left
      a.map.loading(href=config.meta.address.map,target='_new')
        .anvil
      .gallery.loading
        .item
      .clear 

  .about
    .left.loading
      .inner
        .title about us
        .subtitle.basal-entry(basal-structure='copy',basal-name='about',basal-entity='copy1') ...
        .copy.basal-entry(basal-structure='copy',basal-name='about',basal-entity='copy2') ...

    .right
      .gallery
        each i in [1,2,3,4]
          .item(class="item_" + i).loading: .inner

    .clear
  .newsletter
    .inner
      .title
        .copy get the newsletter
      form.form( action="//anvilbrew.us12.list-manage.com/subscribe/post?u=9f8a678d774ecb6895e79bd12&amp;id=8b6177a5e2", method="post")
        .input
          input(type='email',placeholder='Enter your email address',name='EMAIL')
        .cta sign up
      .clear

  .footer
    .inner
      .left
        .inner
          .title no attitude. just good beer.
          include partial/lochours

      .right
        .inner
          .copys
            .copy Call: 
              a(href='tel:'+config.meta.address.phone)=config.meta.address.phone
            .copy Email: 
              a(href='mailto:'+config.meta.email)=config.meta.email

          include partial/socials
      .clear

  script.
    Index.i()
