extends extends/layout

block content

  .top
    video(playsinline,autoplay,muted,loop,poster="/images/growler.jpg")
      source(src="/vid/barrel.mp4",type="video/mp4")

    .clear

    .logo

    include partial/socials

    .burger.on
      .lines
        span
        span
        span
        span
      .clear
      
    .menu.off
      .inner
        a.item(data-item='beers') draft list
        .itemdot
        a.item(data-item='events') events 
        .itemdot
        a.item(data-item='info') taproom
        .itemdot
        a.item(data-item='about') about

    .centered
      .soon opening soon
      .doors doors open september 12
      a.cta(data-item='beers') see our beers

  .infobar
    .anvil.m
    .label taproom
    a.copy(href=config.meta.address.map,target='_new') #{config.meta.address.street}, #{config.meta.address.city}, #{config.meta.address.state}, #{config.meta.address.zip}
    .anvil.d
    .label hours
    .copy Mon-Thu 11am-11pm
    .dot
    .copy Fri-Sun 11am-1am

  .beers
    .title draft list
    .description Gilman IPA, Berkeley Pilsner, Ashby Shout and Telegraph Wehat make up our core beers.  In addition, we brew one-offs, seasonals and collaborations throughout the year.

    .clear

    .beerlist
      //.nav.left.off
        include ../vector/arrow.svg
      //.nav.right.on
        include ../vector/arrow.svg
      .inner
        each beer in config.beers
          .beer
            .inner
              .beer_image
                img(src="/images/" + beer.image)
              .beer_name=beer.name
              .beer_info=beer.info
              .beer_description=beer.description
  .eventsmerch
    .inner
      .events
        .title events
        .clear
        .eventlist
          #template
            .event
              .date
                .month MONTH
                .day DAY
              .image(style="background-image: url(https://s3.amazonaws.com/basal/2bc3bae5283534e0cb66a2cba28680c8.jpeg);")
              .title TITLE
              .description DESC
              .clear
            .clear

      .growlers
        .title growlers
        .clear
        .image
      .clear
 
  .info
    .right.loading
      .inner
        .title the taproom
        .copy Some words about how awesome your tasting room is and what a rad time they'll have when they visit.
        include partial/lochours
        
        .copy Call: 
          a(href='tel:'+config.meta.address.phone)=config.meta.address.phone
          .dot
          | Email: 
          a(href='tel:'+config.meta.email)=config.meta.email

    .left
      .map.loading
        .anvil
      .gallery.loading
        .item
      .clear 

        
  .about
    .left.loading
      .inner
        .title about us
        .subtitle our mission
        .copy Some words about your mission, what makes you unique, and why people should visit you can go here.  Maybe some words about who you are as well, Lorem ipsum dolor sit amet, cons ectutur adipiscing elit.  Cras sit amet urna sed dolor aliquet interdum faucibus vel nibh.
        .copy Lorem ipsum dolor sit amet, cons ectetur adipiscing elit.  Cras sit amet urna sed dolor aliquet interdum faucibus vel nibh.  Lorem ipsum dolor sit amet, cons ectetur adipiscing elit.

    .right
      .gallery
        each i in [1,2,3,4]
          .item(class="item_" + i).loading: .inner

    .clear
  .newsletter
    .inner
      .title
        .copy get the newsletter
      form.form( action="//anvilbrew.us12.list-manage.com/subscribe/post?u=9f8a678d774ecb6895e79bd12&amp;id=8b6177a5e2", method="post")
        .input
          input(type='email',placeholder='Enter your email address',name='EMAIL')
        .cta sign up
      .clear

  .footer
    .inner
      .left
        .inner
          .title no attitude. just good beer.
          include partial/lochours

      .right
        .inner
          .copys
            .copy Call: 
              a(href='tel:'+config.meta.address.phone)=config.meta.address.phone
            .copy Email: 
              a(href='mailto:'+config.meta.email)=config.meta.email

          include partial/socials
      .clear

  script.
    Index.i()
  script(src="http://basal.tech/api/entries?structure=580a2d405aa59b031c7234c3&callback=Index.events")
